<html>
<body >
	<table border=3 bordercolor=purple width='850' height='850' align=center>
		<tr>
			<td valign=top align = left>

 
				<%= image_tag 'smalllogo.png' %>
				
				</td>
		</tr>
		
		
	</table>

	
</body>
</html>
